data/
Test/
datasets/
*.swp
*.pt
*.bds
*.pickle.lzma
ULEEN/software_model/build/
ULEEN/__pycache__/

*.lzma
*.log
*.mem
*/sv_srcs/*
BTHOWeN/__pycache__/
BTHOWeN/software_model/datasets/
BTHOWeN/software_model/data/
